XAMPP
vendor/
composer.lock

Python
pycache/
.pyc
python-scripts/venv/
python-scripts/env/
python-scripts/pycache/

Uploads
public/uploads/

Config
app/config/config.local.php

IDE
.vscode/
.idea/

OS
.DS_Store
Thumbs.db
desktop.ini

Logs
*.log